h3 {
	color:#0088cc;
	font-style: italic;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	margin: 0px;
	margin-top: 8px;
}

p{
	margin: 0px;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	word-wrap: break-word;
}

.chat_window {
	border: 1px solid black;
	padding: 8px;
	width: 300px;
	height: 350px;
	overflow: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.chat_window::-webkit-scrollbar {
	width: 5px;
	background-color: white;
}

.chat_window::-webkit-scrollbar-thumb {
	background-color: #0088cc;
}