.form {
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.form_text {
	resize: none;
	width: 300px;
	min-height: 50px;
	font-family: 'Roboto Slab', serif;
}

.form_submit {
	border: 2px solid #0088cc;
	background-color: #0088cc;
	color: white;	
	height:30px;
}

.form_submit:hover {
	background-color: #02a2f2;	
}